<connectionStrings>
  <!--<add name="AppContext" connectionString="Server=tcp:projectdbserver23.database.windows.net,1433;Initial Catalog=LitigandoDB;Persist Security Info=False;User ID=wherrera;Password=W794061848.;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
  <!--<add name="AppContext" connectionString="Server=tcp:projekte.database.windows.net,1433;Initial Catalog=LitigandoDB;Persist Security Info=False;User ID=dfz23;Password=gerEdit!.$;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
  <add name="AppContext" connectionString="data source=.;Initial Catalog=EvaluacionDB;Persist Security Info=False;User ID=sa;Password=gerEdit!.$1018443125;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  <!--<add name="AppContext" connectionString="data source=.;Initial Catalog=LitigandoDB; MultipleActiveResultSets=true;Integrated Security=true;" providerName="System.Data.SqlClient" />-->
</connectionStrings>