@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Módulo de Configuración de Evaluaciones</h1>
    <p class="lead">Bienvenido al módulo de evaluaciones de Litigando.</p>    
</div>
